*.lock
*.egg-info

build/
dist/
venv/

.coverage

#--------------------
# Puppet modules included by Puppetfile
#--------------------

puppet/.tmp
puppet/modules/core-env
puppet/modules/apt
puppet/modules/user
puppet/modules/libxml
puppet/modules/redis
puppet/modules/python
puppet/modules/supervisorprog
